<!DOCTYPE html>
<html>
<head>
    <title>Smyt Test</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.datepicker-ru.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
</head>
<body>
<div id="sidebar">
    <ul id="models_list">
        {% for model in models_list %}
            <li>
                <a href="#{{ model.class_name }}">{{ model.verbose_name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
<div id="content">
    <h1></h1>
    <div id="datatable"></div>
    <div id="add-form"></div>
</div>
{% verbatim %}
<div id="templates">
    <script id="datatable-template" type="text/x-jquery-tmpl">
        <table>
            <thead>
                <tr>
                {{each(index, value) columns}}
                <th>${value.title}</th>
                {{/each}}
                </tr>
            </thead>
            {{each(index, value) rows}}
            <tbody>
                <tr>
                    {{each(col_index, col_value) columns}}
                    <td>${value[col_index]}</td>
                    {{/each}}
                </tr>
            </tbody>
            {{/each}}
        </table>
    </script>
    <script  id="add-form-template" type="text/x-jquery-tmpl">
        <h2>Добавить запись</h2>
        <form action="/add" method="post">
        <input type="hidden" name="model" value="${model_class}"/>
        <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
        {{each(index, value) columns}}
            {{if value.type != 'pk'}}
                <p>
                    <label>${value.title}</label>
                    {{if value.type == 'str' || value.type == 'int'}}
                        <input type="text" name="${index}" />
                    {{else}}
                        {{if value.type == 'date'}}
                            <input type="text" name="${index}" class="datepicker" />
                        {{/if}}
                    {{/if}}
                </p>
            {{/if}}
        {{/each}}
        <p><input type="submit" value="Добавить" /></p>
        </form>
    </script>
</div>
{% endverbatim %}
</body>
</html>